<div id="breadcrumb-div">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-dark">

            <% 
            BreadcrumbData.forEach(function(Data)
            {
                if (Data.PageLink)
                {
                    %>
                    <li class="breadcrumb-item" aria-current="page">
                        <a href="<%- Data.PageLink %>">
                            <%= Data.PageName %>
                        </a>
                    </li>
                <%
                }
                else
                {
                    %>
                    <li class="breadcrumb-item active" aria-current="page">
                        <%= Data.PageName %>
                    </li>
                <%
                }
            })
            %>
        </ol>
    </nav>
</div>