<div id="footer-div" class="mt-3">
    <footer class="bg-dark text-center text-light">
        <div class="container p-4">
            <div class="row">
                <div class="col-11">
                    <section id="social-icons-section" class="mb-4">
                        <a class="btn btn-outline-primary btn-floating m-1 text-light" href="#" role="button">
                            <i class="fa fa-facebook"></i>
                        </a>
        
                        <a class="btn btn-outline-primary btn-floating m-1 text-light" href="#" role="button">
                            <i class="fa fa-twitter"></i>
                        </a>
        
                        <a class="btn btn-outline-primary btn-floating m-1 text-light" href="#" role="button">
                            <i class="fa fa-google"></i>
                        </a>
        
                        <a class="btn btn-outline-primary btn-floating m-1 text-light" href="#" role="button">
                            <i class="fa fa-instagram"></i>
                        </a>
        
                        <a class="btn btn-outline-primary btn-floating m-1 text-light" href="#" role="button">
                            <i class="fa fa-github"></i>
                        </a>
                    </section>
                </div>
            </div>
            
            <section id="footer-body-section">
                <div class="row">
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0 text-left">
                        <h5 class="text-uppercase text-primary">Customer Support</h5>

                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="/" class="text-light">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="#" class="text-light">
                                    Blogs
                                </a>
                            </li>
                            <li>
                                <a href="/about-us" class="text-light">
                                    About Us
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0 text-left">
                        <h5 class="text-uppercase text-primary">
                            Our Policies
                        </h5>

                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#" class="text-light">
                                    Refund Policy
                                </a>
                            </li>
                            <li>
                                <a href="#" class="text-light">
                                    Privacy Policy
                                </a>
                            </li>
                            <li>
                                <a href="#" class="text-light">
                                    Terms & Conditions
                                </a>
                            </li>
                        </ul>
                    </div>

                    <form action="#" method="GET">
                        <div class="col-12 mb-md-0 mt-md-5 mt-lg-0">
                            <div class="row d-flex justify-right">
                                <div class="col-auto">
                                    <p class="pt-2">
                                        <strong>Be The First To Know</strong>
                                    </p>
                                </div>
                    
                                <div class="col-md-6 col-12">
                                    <div class="form-outline form-white mb-4">
                                        <input type="email" id="subscriber-email-address" name="subscriber-email-address" 
                                                class="form-control" placeholder="Email Address"/>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 mb-0 mt-lg-0">
                            <div class="row mr-lg-2 mr-md-2 text-right float-right">
                                <div id="footer-subscribe-button" class="col-auto">
                                    <button type="submit" class="btn btn-outline-primary btn-floating m-1 text-light">
                                        Subscribe
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>

        <section class="mb-4">
            <p>
                Sign up for our newsletter to receive updates on special offers, news and events.
            </p>
        </section>

        <section id="footer-copyright-div" class="text-center p-3">
            &copy; 2022 Copyright:
            <a class="text-light" href="/">
                Smart Attendance System
            </a>
        </section>
    </footer>
</div>