<div class="modal fade" id="LoginPopupModal" tabindex="-1" role="dialog" aria-labelledby="LoginPopupModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content bg-dark">
        
            <div class="modal-header">
                <h5 class="modal-title text-primary" id="LoginPopupModalTitle">
                SIGN IN
                </h5>
            </div>

            <form id="signin-form" class="text-light" action="/signin" method="POST">
                <div class="modal-body">

                        <!-- Embed UsernamePassword Component -->
                        <div class="row">
                            <%
                            var TagNamePrefixData = "";
                            %>
                            <%- include("./UsernamePassword", {TagNamePrefixData: TagNamePrefixData}); %>
                        </div>

                        <div class="text-left">
                            Don't Have an Account? 
                            <a href="/signup">
                                Sign Up
                            </a>
                        </div>
                </div>

                <div class="modal-footer">
                    <input id="home-page-login-popup-close-button" class="btn btn-light font-weight-bold" 
                            type="button" value="Close" />
                    <input class="btn btn-primary btn-outline-light font-weight-bold" type="submit" value="SIGN IN" />
                </div>

            </form>
        </div>
    </div>
</div>